<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">

    <!-- for each item (entered with mongoose in app.js) its displays it in accordance with this: -->
    <% newListItems.forEach(function(item) { %>
      <form action="/delete" method="post">
        <div class="item">
          <!-- the attrbute for the html property onChange is plain javascript metod; value is for -->
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
          <p>
            <%= item.name %>
          </p> <!-- .name limits what is dsiplayed from items list -->
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>

      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

  <%- include("footer") -%>